@font-face{
    font-family: 'Brodien-Bold';
    src: url(resources/Brodien-Bold.otf);
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url(resources/Montserrat-Regular.ttf);
}

@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url(resources/Montserrat-SemiBold.ttf);
}

@font-face{
    font-family: 'Montserrat-Black';
    src: url(resources/Montserrat-Black.ttf);
}

body{
    display: flex;
    background-image: url(resources/fondo-textura-raso-blanco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #475280;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    justify-content: space-between;
    margin: 2% 7%;
}

form{
    max-width: 600px;
    padding: 20px 60px;
    background:rgba(218, 208, 245, 0.322);
    backdrop-filter: blur(0.5rem);
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#btnenviar{
    font-family: 'Montserrat-Black';
    background: #6b92ff;
    border: none;
    color: #e8dfec;
    border-radius: 60px;
    padding: 0px 80px;
    cursor: pointer;
    font-size: 3em;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

#btnenviar:hover{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    transition: all 0.2s;
    font-size: 3.2em;
}

input[type="text"]{
    padding: 1em;
    margin: 6px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #475280;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.3);
    color: #475280;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    text-transform: uppercase;
}

input[type="email"]{
    padding: 1em;
    margin: 6px 30px 6px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #475280;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.3);
    color: #475280;
    font-family: 'Montserrat-SemiBold';
    text-align: center;
    text-transform: uppercase;
}

input[type="date"]{
    padding: 1em 4em;
    margin: 6px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #475280;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.3);
    color: #475280;
    font-family: 'Montserrat-SemiBold';
}

input[type="radio"]{
    margin: 6px 20px;
    padding: 60px;
}

select{
    padding: 1em 1em 1em 1em;
    margin: 6px 1px 6px 30px;
    border: none;
    border-radius: 35px;
    background: #475280;
    color: #F1F2F6;
    font-family: 'Montserrat-SemiBold';
}

h1{
    text-align: center;
    color: #475280;
    font-size: 0.6;
    font-family: 'Montserrat-Black';
}

#imagen{
    padding: 100px 0;
    width: 40%;
    height: 40%;
}


.form_label{
    font-family: 'Montserrat-SemiBold';
    position: absolute;
    color: gray;
    pointer-events: none;
    margin-top: 18px;
    margin-left: -207px;
    text-align: center;
    transition: all 0.3s;
}

#aux{
    margin-left: -290px;
}

.form_input:focus + .form_label{
    margin-top: -12px;
    margin-left: -210px;
    font-size: 0.7em;
}

p{
    margin-bottom: 30px;
}

.genero{
    margin-bottom: 5px;
    margin-top: 5px;
}

.fijar{
    margin-top: -12px;
    margin-left: -210px;
    font-size: 0.7em;
}